fastapi==0.115.2
uvicorn==0.32.0
sqlalchemy[asyncio]==2.0.35
asyncpg==0.30.0
pydantic==2.9.2
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
alembic==1.13.3
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
python-multipart>=0.0.9    # нужно для OAuth2PasswordRequestForm
fastapi[all]  # Убедитесь, что FastAPI установлен с extras
alembic